@import "./variables.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::before,
* ::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: $font-stack-main;
  font-weight: $font-width-main;
  font-size: $font-size-main;
  color: $font-color-blue;
}

.container {
  margin: 0 auto;
  width: 1175px;
}

button {
  cursor: pointer;
  position: relative;
  overflow: hidden;

  width: 180px;
  height: 50px;
  padding: 14px;

  border: none;
  border-radius: 25px;

  font-family: $font-stack-main;
  font-weight: $font-width-main;
  font-size: $font-size-main;
  color: rgb(255, 255, 255);

  background: linear-gradient(94.66deg, #4499d9 17.46%, #7367be 87.77%);
  transition: all 0.3s;

  &:hover {
    background: linear-gradient(137deg, #4499d9 100%, #7367be 0%);
    box-shadow: 2px 2px 7px #826f8c;
  }
}

.header {
  z-index: 1;
  position: absolute;
  width: 100%;

  &__wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 200px;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    gap: 55px;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 42px;

    font-weight: $font-width-main;
  }

  &__item {
    position: relative;
    // overflow: hidden;
    padding: 1px;

    &::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 3px;
      bottom: 0px;
      left: 0px;
      background-image: linear-gradient(
        94.66deg,
        #4499d9 17.46%,
        #7367be 87.77%
      );
      transition: all 0.3s ease-in-out;
      // transform: translateX(-100%);
    }

    &:hover::after {
      width: 100%;
      // transform: translateX(0);
    }
  }
}

.consoles {
  background-image: url("/images/console-bg.jpg");
  position: relative;
  padding-top: 225px;
  padding-bottom: 100px;
  border-image-repeat: none;

  &__wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-basis: 520px;
    gap: 32px;
  }

  &__title {
    font-size: 23px;
    font-weight: $font-width-bold;
  }

  &__subtitle {
    color: $font-color-red;
    font-size: 68px;
    font-weight: $font-width-bold;

    span {
      color: $font-color-blue;
    }
  }

  &__text {
    font-size: $font-size-main;
    color: $font-color-purple;
    height: 116px;
    line-height: 29px;
  }

  &__big-hero {
    position: relative;
    width: 580px;
    height: 580px;
  }

  &__main-image {
    position: absolute;
    bottom: 100px;
    z-index: 2;
    animation: fade 1.5s ease-in-out forwards;
  }

  &__sub-image {
    position: absolute;
    left: 75px;
    z-index: 1;
    bottom: 540px;
    transform: scale3d(0, 0, 0);
    opacity: 0;
    animation: tringles 1.5s ease-in-out 2s forwards;
  }

  &__circle {
    position: absolute;
  }

  &__box-glasses {
    position: absolute;
    z-index: 3;
    top: -130px;
    left: -80px;
    transition: all 1s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__box-gamepad {
    position: absolute;
    bottom: 70px;
    right: -40px;
    z-index: 3;
    transition: all 1s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__cross {
    position: absolute;
    bottom: 0px;
    left: -300px;
    animation: rotate 10s linear infinite;
  }
}

@keyframes fade {
  0% {
    transform: translateY(20%);
    opacity: 0.2;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes tringles {
  0% {
  }

  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
}

.about {
  padding-top: 120px;
  position: relative;
  background-color: #ffe5d6;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__kerfin {
    position: absolute;
    right: 0;
    top: -250px;
  }

  &__content {
    display: flex;
    flex-basis: 551px;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-size: 23px;
  }

  &__subtitle {
    font-size: 68px;
    font-weight: $font-width-bold;
    color: $font-color-red;
  }

  &__text {
    line-height: 29px;
    color: $font-color-purple;
  }

  &__men {
    flex-basis: 551px;
    position: relative;
  }

  &__screen-image {
    position: absolute;
    top: -23px;
    left: 230px;
    animation: translate 5s linear infinite;
  }
}

@keyframes translate {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-4%);
  }

  0% {
    transform: translateY(0%);
  }
}

.about-consoles {
  background-image: url(/images/about-pc-bg2.jpg);
  padding-top: 113px;
  padding-bottom: 156px;

  &__wrapper {
    display: flex;
    gap: 35px;
  }

  &__content {
    display: flex;
    flex-basis: 566px;
    flex-direction: column;
    gap: 25px;
  }

  &__title {
    font-size: 23px;
    color: $font-color-blue;
    font-weight: $font-width-bold;
  }

  &__subtitle {
    font-size: 68px;
    color: $font-color-red;
    font-weight: $font-width-bold;
  }

  &__text {
    color: $font-color-purple;
    line-height: 29px;
  }

  &__images-container {
    position: relative;
    flex-basis: 566px;
  }

  &__gamepad {
    position: absolute;
    top: 210px;
    left: 0;
    animation: translate 3s linear infinite;
  }

  &__biger-detail {
    position: absolute;
    right: 70px;
    top: -10px;
    animation: rotate 7s linear infinite;
  }

  &__smaller-detail {
    position: absolute;
    top: 85px;
    right: 199px;
    animation: rotate 7s linear infinite;
  }
}
