html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::before,
* ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #446381;
}

.container {
  margin: 0 auto;
  width: 1175px;
}

button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 50px;
  padding: 14px;
  border: none;
  border-radius: 25px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: rgb(255, 255, 255);
  background: linear-gradient(94.66deg, #4499d9 17.46%, #7367be 87.77%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
button:hover {
  background: linear-gradient(137deg, #4499d9 100%, #7367be 0%);
  -webkit-box-shadow: 2px 2px 7px #826f8c;
          box-shadow: 2px 2px 7px #826f8c;
}

.header {
  z-index: 1;
  position: absolute;
  width: 100%;
}
.header__wrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 200px;
  cursor: pointer;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
  font-weight: 500;
}
.header__item {
  position: relative;
  padding: 1px;
}
.header__item::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(94.66deg, #4499d9 17.46%, #7367be 87.77%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__item:hover::after {
  width: 100%;
}

.consoles {
  background-image: url("/images/console-bg.jpg");
  position: relative;
  padding-top: 225px;
  padding-bottom: 100px;
  border-image-repeat: none;
}
.consoles__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
}
.consoles__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 520px;
      flex-basis: 520px;
  gap: 32px;
}
.consoles__title {
  font-size: 23px;
  font-weight: 700;
}
.consoles__subtitle {
  color: #eb8382;
  font-size: 68px;
  font-weight: 700;
}
.consoles__subtitle span {
  color: #446381;
}
.consoles__text {
  font-size: 18px;
  color: #826f8c;
  height: 116px;
  line-height: 29px;
}
.consoles__big-hero {
  position: relative;
  width: 580px;
  height: 580px;
}
.consoles__main-image {
  position: absolute;
  bottom: 100px;
  z-index: 2;
  -webkit-animation: fade 1.5s ease-in-out forwards;
          animation: fade 1.5s ease-in-out forwards;
}
.consoles__sub-image {
  position: absolute;
  left: 75px;
  z-index: 1;
  bottom: 540px;
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
  opacity: 0;
  -webkit-animation: tringles 1.5s ease-in-out 2s forwards;
          animation: tringles 1.5s ease-in-out 2s forwards;
}
.consoles__circle {
  position: absolute;
}
.consoles__box-glasses {
  position: absolute;
  z-index: 3;
  top: -130px;
  left: -80px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.consoles__box-glasses:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.consoles__box-gamepad {
  position: absolute;
  bottom: 70px;
  right: -40px;
  z-index: 3;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.consoles__box-gamepad:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.consoles__cross {
  position: absolute;
  bottom: 0px;
  left: -300px;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes tringles {
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes tringles {
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.about {
  padding-top: 120px;
  position: relative;
  background-color: #ffe5d6;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__kerfin {
  position: absolute;
  right: 0;
  top: -250px;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 551px;
      flex-basis: 551px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.about__title {
  font-size: 23px;
}
.about__subtitle {
  font-size: 68px;
  font-weight: 700;
  color: #eb8382;
}
.about__text {
  line-height: 29px;
  color: #826f8c;
}
.about__men {
  -ms-flex-preferred-size: 551px;
      flex-basis: 551px;
  position: relative;
}
.about__screen-image {
  position: absolute;
  top: -23px;
  left: 230px;
  -webkit-animation: translate 5s linear infinite;
          animation: translate 5s linear infinite;
}

@-webkit-keyframes translate {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes translate {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.about-consoles {
  background-image: url(/images/about-pc-bg2.jpg);
  padding-top: 113px;
  padding-bottom: 156px;
}
.about-consoles__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.about-consoles__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 566px;
      flex-basis: 566px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.about-consoles__title {
  font-size: 23px;
  color: #446381;
  font-weight: 700;
}
.about-consoles__subtitle {
  font-size: 68px;
  color: #eb8382;
  font-weight: 700;
}
.about-consoles__text {
  color: #826f8c;
  line-height: 29px;
}
.about-consoles__images-container {
  position: relative;
  -ms-flex-preferred-size: 566px;
      flex-basis: 566px;
}
.about-consoles__gamepad {
  position: absolute;
  top: 210px;
  left: 0;
  -webkit-animation: translate 3s linear infinite;
          animation: translate 3s linear infinite;
}
.about-consoles__biger-detail {
  position: absolute;
  right: 70px;
  top: -10px;
  -webkit-animation: rotate 7s linear infinite;
          animation: rotate 7s linear infinite;
}
.about-consoles__smaller-detail {
  position: absolute;
  top: 85px;
  right: 199px;
  -webkit-animation: rotate 7s linear infinite;
          animation: rotate 7s linear infinite;
}

.our-pricing {
  padding-top: 50px;
  padding-bottom: 120px;
  background-color: #ffe5d6;
}
.our-pricing__title {
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  padding-bottom: 23px;
}
.our-pricing__subtitle {
  text-align: center;
  font-size: 68px;
  font-weight: 700;
  color: #eb8382;
  padding-bottom: 82px;
}
.our-pricing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.our-pricing__item {
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px;
  background-color: #fbdacf;
  border-radius: 5%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.our-pricing__item:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #446381), to(#826f8c));
  background-image: linear-gradient(180deg, #446381 0, #826f8c 100%);
  color: white;
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}
.our-pricing__name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}
.our-pricing__span-value {
  font-size: 40px;
  font-weight: 700;
  color: #eb8382;
}
.our-pricing__value {
  font-size: 18px;
  color: #eb8382;
  margin-bottom: 30px;
}
.our-pricing__tariffs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
.our-pricing__button {
  width: 260px;
}

.footer {
  background-color: #ffe5d6;
  border-top: 1px solid #816f8c;
}
.footer__wrapper {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}